.body
  .header
    = render 'share/header'
  .main
    .main_visual
      = render 'share/main_visual'
    .top_introduction
      = render 'share/top_introduction'
    .top_middle_dl
      = render 'share/top_middle_dl'
    .top_key_feartures
      = render 'share/top_key_feartures'
    .pickup_containers
      = render 'share/pickup_container'
  .app_banner
    = render 'share/app_banner'
  .footer
    = render 'share/footer'
  .purchase_btn
    = render 'share/purchase_btn'