.body
  .header
    = render './header'
  .main
    .main_visual
      = render './main_visual'
    .top_introduction
      = render './top_introduction'
    .top_middle_dl
      = render './top_middle_dl'
    .top_key_feartures
      = render './top_key_feartures'
    .pickup_container
      = render './pickup_container'
    .pickup_container
      = render './pickup_container'
  .app_banner
    = render './app_banner'
  .footer
    = render './footer'