%ul.card-company
  %li
    = image_tag "credits/visa.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/mastercard.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/saison.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/jcb.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/american.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/diner.png", class: "visa", height: "20", width: "30"
  %li
    = image_tag "credits/discover.png", class: "visa", height: "20", width: "30"