.pickup_container
  .pickup_container__head
    ピックアップカテゴリー
  .pickup_container__title
    新規投稿商品
  .pickup_container__lists
    - @items.each do |item|
      = link_to (item_path(item.id)) do
        - if item.buyer_id.blank?
          .pickup_container__lists__list
            .pickup_container__lists__list__img
              = image_tag("#{item.images.first.image}", class: 'image-fot')
            .pickup_container__lists__list__body
              .pickup_container__lists__list__body__name
                = item.name
                %ul
                  %li
                    = ('¥' + item.price.to_s(:delimited))
                  %li
                    #text
                      0
        - else



  -# .pickup_container__lists
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = link_to "/items/1_path" do
  -#         = image_tag 'pict/fish.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item3
  -#       %ul
  -#         %li
  -#           30000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = image_tag 'pict/chicken.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item2
  -#       %ul
  -#         %li
  -#           20000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = image_tag 'pict/curry.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item1
  -#       %ul
  -#         %li
  -#           10000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)

.pickup_container
  .pickup_container__head
    ピックアップブランド
  .pickup_container__title
    新規投稿商品






  -# .pickup_container__lists
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = image_tag 'pict/fish.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item3
  -#       %ul
  -#         %li
  -#           30000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = image_tag 'pict/chicken.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item2
  -#       %ul
  -#         %li
  -#           20000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)
  -#   .pickup_container__lists__list
  -#     .pickup_container__lists__list__img
  -#       = image_tag 'pict/curry.png',size: ("220x184")
  -#     .pickup_container__lists__list__body
  -#       .pickup_container__lists__list__body__name
  -#         item1
  -#       %ul
  -#         %li
  -#           10000円
  -#         %li
  -#           #text
  -#             0
  -#       %p
  -#         (税込)
