.area_form
  .form_header
    .logo
      = link_to "#" do
        -# %img{ src: "logo.png", alt: "logo" }
  .area_form_content
    .area_form_content__head
      %h1="住所登録・電話番号登録"
    .area_form_content__main
      .form-group
        = "郵便番号"
        %span.form-repuire 必須
        %br
        %input{:number=> "title", :size => "40", placeholder: "例) 123-4567", class: "input-default", autofocus: true }
      .form-group
        = "都道府県"
        %span.form-repuire 必須
        %br
        %input{:prefecture=> "title", :size => "40", placeholder: "例) 東京都", class: "input-default", autofocus: true }
      .form-group
        = "市町村区"
        %span.form-repuire 必須
        %br
        %input{:city=> "title", :size => "40", placeholder: "例) 渋谷区", class: "input-default", autofocus: true }
        .form-group
        = "番地"
        %span.form-repuire 必須
        %br
        %input{:town=> "title", :size => "40", placeholder: "例) 1番地", class: "input-default", autofocus: true }
        .form-group
        = "建物名"
        %span.form-repuire2 (任意)
        %br
        %input{:building=> "title", :size => "40", placeholder: "例) アジアビル", class: "input-default", autofocus: true }
        %br
        .form-group
        = "電話番号"
        %span.form-repuire 必須
        %br
        %input{:phone_number=> "title", :size => "40", placeholder: "例) 09012345678  ハイフンなし", class: "input-default", autofocus: true }
        %br
      %br
      .address_submit
        = link_to "/jp/signup/complete" do
          %label2
            ="次に進む"

  = render partial: "devise/shared/form_footer"
