= render "/header"
.wrapper
  = render "share/side_bar"
  .select-pay
    .select-pay__header
      支払い方法
    .select-pay__clearfix
      .select-pay__clearfix__detail-card-info
        .card-info__header
          クレジットカード一覧
        .card-info__card-company
          visa
        .card-info__card-no
          = "**** **** **** " + @default_card_information.last4
        .card-info__card-expiration
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
      .select-pay__clearfix__delete-card-info
        -# "#"にcredit/deleteのパスいれる
        = form_tag(delete_credits_path, method: :post, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button 削除する
.footer
  = render './footer'
.purchase_btn
  = render './purchase_btn'