= render "/header"
.wrapper
  = render "share/side_bar"
  .content
    .content__logout  
      = link_to destroy_user_session_path do
        = "ログアウト"
.footer
  = render './footer'
.purchase_btn
  = render './purchase_btn'