= render "share/header"
.wrapper
  = render "share/side_bar"
  .mypage
    .mypage__user-box
      .mypage__user-box__icon
      .mypage__user-box__user-name
        = current_user.nickname
      .mypage__user-box__status
        .mypage__user-box__status__review
        .mypage__user-box__status__item
    .mypage__info-box
      お知らせ
    .mypage__contents
      あなたの投稿にいいねしました！
    .mypage__contents
      あなたの投稿にいいねしました！ 
    .mypage__contents
      あなたの投稿にいいねしました！
.footer
  = render 'share/footer'
.purchase_btn
  = render 'share/purchase_btn'