.single-wrapper
  .form_header
    .logo
  .single-main
    .single-main__inner
      .single-main__inner__not_user
        %p="アカウントをお持ちでない方はこちら"
        = link_to new_user_registration_path do
          = "新規会員登録"
      .single-main__inner__form
        = form_for(resource, as: resource_name, url: user_session_path, method: "POST", novalidate: "novalidate") do |f|
          .single-main__inner__form__groups
            .single-main__inner__form__groups__group
              = f.email_field :email, { class: "single-main__inner__form__groups__group__input", placeholder: "メールアドレス", autofocus: "true", autocomplete: "email"}
            .single-main__inner__form__groups__group
              = f.password_field :password, { class: "single-main__inner__form__groups__group__input",placeholder: "パスワード", autocomplete: "current-password" }
              = f.submit "ログイン", class: "single-main__inner__form__groups__login"
            = link_to root_path do
              パスワードをお忘れの方

  .login_form_footer  
    .nav
      %ul
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "フリマ利用規約", "#"
        %li
          = link_to "特定商取引に関する表記", "#"
    .login_footer-logo
      = link_to "#" do
        %p
    .small © furima

    