.container
  = render partial: 'devise/shared/form_header'
  -# // 商品情報編集
  .main
    .item
      .item__content
        %h2
          商品の情報を編集
        = form_with model: @item, url: item_path(@item),method: :patch, local: true, class: "item__data" do |f|
          // 画像アップロード
          .sell_form__main__box
            .sell_upload_box 
              
              %h3.sell_upload_box__head
                = f.label :image, "出品画像"
                %span 必須
              %p.info 最大10枚までアップロードできます
              .sell_dropbox
              .image-box__container#image-box-1
                .item-num-0
                - @item_images.each do |i|
                  .item-image{"data-image" => i.image}
                    .item-image__content
                      .item-image__content--icon#item-image__operetion--delete
                        -if @item_images.present?
                          = image_tag i.image.url, "height": "114", "width": "116"
                        -if @item_images.present?
                          .btn-box
                            = link_to "削除", item_image_path(@item_image), method: :delete, class: "item-image__operetion--delete"
                .image-box__item-num-0#image-box__container
                  = f.fields_for :image do |i|
                    .input-area#image-box__container
                      = i.file_field :image, type: 'file', name: "item[item_images_attributes][][image]", value:"image", style: "display:none", id:"img-file"
                      %label{for: "img-file"}
                        %i.fas.fa-camera
                        -# %p.info 最大10枚までアップロードできます
                        -# .sell_dropbox
                        -#   ドラッグアンドドロップ
                        -#   %br
                        -#   またはクリックしてファイルをアップロード
                        -#   .image-box__container
                        -#     #image-box-1
                        -#     .item-num-0
                        -#     = f.fields_for :item_images do |i|
                        -#       .input-area#image-box__container
                        -#         = i.file_field :item_images,type: 'file', name: "item[item_images_attributes][][image]", value:"image", style: "display:none", id:"img-file",required: true
                        -#         %label.input{for: "img-file"}
                        -#           %i.fas.fa-camera
                      
          -# // 商品情報入力(商品名)
          .item__data--box
            .item__data--box--first
              = f.label :name do
                商品名
                %span 必須
              %div
                = f.text_field :name, placeholder: "商品名 (必須 40文字まで)", class: "input-default"
            .item__data--box--group
              = f.label :text do
                商品の説明
                %span 必須
              = f.text_area :text, placeholder: "商品の説明 (必須1000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", class: "textarea-default"
          -# // 商品情報入力(商品詳細)
          .item__data--box
            %H3.item__data--box--information
              商品の詳細
            .sell__form--box
              .item__data--box--first
                = f.label :category_id do
                  .listing-product-detail__category
                    = f.label :category_id, "カテゴリー"
                    %span.listing-default--require 必須  
                    .listing-select-wrapper
                      .listing-select-wrapper__box#parent_wrapper
                      = f.select :category_id, options_for_select(Category.where(ancestry: nil).map{|c|[c.name, c.id]}, @parent.id), {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                    #category
                    #children_wrapper.listing-select-wrapper__added
                      .listing-select-wrapper__box
                        %select#child_category.listing-select-wrapper__box--select{:name => ":category_id",data: {child_id: @child.id}}
                          - @child_categories.each do |cat|
                            %option{value: "#{cat.id}",class:"child", "data-category": "#{cat.id}"} #{cat.name}
                    #grandchildren_wrapper.listing-select-wrapper__added
                      .listing-select-wrapper__box
                        = f.collection_select(:category_id, @grand_child, :id, :name, {prompt: "---"}, {id: "grand_child"})
                .item__data--box--group
                  = f.label :quality do
                    商品の状態
                    %span 必須
                  .item__data--box--group__form
                  = f.select :quality, ['---','新品、未使用','未使用に近い','目立った傷や汚れなし','傷や汚れあり','全体的に状態が悪い'],class: "select-default"

              -# // 商品情報入力(商品詳細)
          .item__data--box
            %H3.item__data--box--information
              配送について
            .sell__form--box
              .item__data--box--first
                = f.label :delivery_charge do
                  配送料の負担
                %span
                  必須
                .select-wrap
                = f.select :delivery_charge, ['---','送料込み','着払い'],class: "select-default"

              .item__data--box--group
                = f.label :area do
                  発送元の地域
                %span
                  必須
                .select-wrap
                = f.collection_select :area_id, Area.all, :id, :name
              .sell__form--box
                .item__data--box--group
                  = f.label :delivery_date do
                    発送までの日数
                  %span
                    必須
                  .select-wrap
                  = f.select :delivery_date, ['---','1~2日で発送','2~3日で発送','4~7日で発送'],class: "select-default"
                     
          -# // 商品情報入力(販売価格)
          .item__data--box
            %H3.item__data--box--information
              販売価格(300〜9,999,999)
            .sell__form--box
              .sell__form--box--price
                %ul.l-left
                  %li.item__data--box--first
                    = label :price, "価格", {class: 'form-label'}
                    %span 必須
                .input-price
                  .l-left
                    ¥
                  .l-right
                    .input-price__input_box
                      = f.text_field :price, placeholder: "例)300", class: "input-price-area"
              .sell__form--box--commision
                .l-left
                  販売手数料 (10%)
                .l-right
                  −
              .sell__form--box--profits
                .l-left
                  販売利益
                .l-center
                  −
                .l-right
                  -

          .item__data--box
            %p
              禁止されている出品、行為を必ずご確認ください。</br>
              またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            %button.item__data--box--btn{type: "submit"}
              .name
                編集する
            .item__data--box--formbtn
              = link_to "もどる", "/", class: "btn "

  = render partial: "devise/shared/form_footer"

