.detail
  .detail_header
    .detail_header_top
      = render 'share/header'
  .detail_content
    .detail_content_main_box
      .detail_content_main_box-name
        = @item.name
      .detail_content_main_box-image
        .main__image
          %ul
            %li
              = image_tag @images.image.url, class:"main-image",size: "400x300"
              %ul
                - @item.item_images.each do |image|
                  %li
                    = image_tag image.image_url,class:"image-list",size: "250x150"
      .detail_content_main_box-price
        .detail_content_main_price
          ￥
          = @item.price
        .detail_content_main_tax (税込)送料込み
      %br
      %br
    .detail_table
      .detail_table--group
        %table
          %tbody
            %tr
              %td 出品者
              %td
                = @user.nickname
            %tr
              %td 商品の状態
              %td
                =@item.quality
            %tr
              %td 配送料の負担
              %td 
                =@item.delivery_charge
            %tr
              %td 配送元の地域
              %td
                = @item.area.name
                
            %tr
              %td 発送日の目安
              %td
                = @item.delivery_date
      .l-single-container
        .listing-item-change-box
          - if user_signed_in? && @item.saler_id == current_user.id
            = link_to "商品の編集", edit_item_path(@item.id), class:'btn-default btn-red'
            %p.text-center
            =link_to "削除", item_path(@item.id), method: :delete, class:'btn-default btn-gray'
          - else
            =link_to "購入", purchase_index_path(@item.id),class:'btn-default btn-gray'
  .detail_footer
    = render 'share/footer'