.header__inner
  .main_header
    .icon
    .search_box
      .search_box__input
        = text_field_tag :search, params[:search],class:"search_box__input__word", placeholder: 'キーワードから検索'
      .search_box__btn
        = link_to "#" do
          = image_tag 'icon/icon-search.png'
  .nav
    .lists_left
      .lists_left__item
        = link_to "#" do
          ="カテゴリー"
      .lists_left__item
        = link_to "#" do
          ="ブランド"
    .lists_right
      .lists_right__item
        -if user_signed_in?
          = link_to "/users/sign_out" do
            ="ログアウト"
        -else
          = link_to "/users/sign_in" do
            ="ログイン"
          = link_to "/users/sign_up" do
            ="新規登録"
